name: CI Pipeline

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout du code
      uses: actions/checkout@v3
    
    - name: Configuration Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
    
    - name: Installation des dépendances
      run: npm install
    
    - name: Lancement des tests
      run: npm test
    
    - name: Affichage de la fin du build
      run: echo "✅ Build et tests réussis !"